[build]
  publish = "public"
  command = "echo 'No build command needed'"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/bot"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "netlify/functions"
